<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="revisit-after" content="7 DAYS" />
	<meta name="robots" content="All" />

	<meta name="author" content="{{ site.title }}" />

	<meta name="theme-color" content="#000000" />
	<meta name="msapplication-navbutton-color" content="#000000" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#000000" />

	<title>{% if page.title %}{{ site.title }} :: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/assets/css/acform-theme.css" />

	{% if page.lightbox %}
	<link rel="stylesheet" href="/assets/css/lightbox.min.css" />
	{% endif %}

</head>
